@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&family=Oswald:wght@200;700&family=Roboto:wght@300;400;500;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
body{
    display: flex;
    justify-content: space-around;
}

.body-left{
    width: 30%; 
} 

.body-left img:nth-of-type(1){
    position: absolute;
    margin-top: 30px;
    margin-left: 5%;
    height: 30px;
}

.body-left img:nth-of-type(2){
    height: 100vh;
    width: 30%;
    position: fixed;
    z-index: -1;
}

.body-right{
    width: 70%;
}

nav{
    margin-top: 30px;
    margin-right: 5%;
}

nav ul{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    text-decoration: none;
    list-style-type: none;
}

.hambergermenu{
    display: none;
}

.fa-bars{
    font-size: 20px;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #1f1f1f;
}

nav ul li a:hover{
    cursor: pointer;
}

.line{
    width: 250px;
    border-bottom: 2px solid;
    margin-left: 50px;
}

.bodybox{
    display: flex;
    justify-content: space-between;
    margin: 20px 5% 20px 5%;
    flex-grow: 1;
}

.body3socila{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    font-size: 20px;
}

.body3socila>i:hover{
    transition: 0.5s;
    transform: scale(1.5);
}

.chekbox{
    display: flex;
    flex-grow: 1;
    margin: 10px 5% 10px 5%; 
}

.heroimg{
    display: none;
}

.chekbox button{
    margin-left: auto;
    padding: 10px 25px;
    background: #1f1f1f;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.chekbox:hover{
    opacity: 80%;
    transition: 0.5s;
}

.body1 div {
    font-family: "Merriweather";
    font-size: 130px;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    -webkit-text-stroke-color: black;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 3px;
}

.body1{
    margin-right: 50px;
}

.body1 div:nth-of-type(2){
    color: #1f1f1f;
    margin-left: 120px;
}

.body2{
    align-self: flex-end;
    font-size: 25px;
    margin-right: auto;
}

.servicelist{
    display: flex;
    margin: 50px 5% 50px 5%;
    gap: 50px;
    justify-content: space-between;
}

.serdetails div img{
    height: 300px;
}

.hline{
    position: absolute;
    height: 300px;
    width: 2px;
    background: rgb(192, 194, 194);
    margin-top: 10px;
    transform: translate(-16px);
    z-index: -1;
}

.servicelist div ul{
    display: flex;
    flex-direction: column;
    width: 130px;  
    gap: 40px;
}

.servicelist div ul li{
    list-style-type: none;
    cursor: pointer;
}

.ser-lis-active{
    font-weight: 600;
}
.servicelist div ul li::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgb(192, 194, 194);
    transform: translate(-20px, 4px);
}

.servicelist div ul li:nth-of-type(1):before{
    background: #1f1f1f;
}

.serdetails{
    width: 90%;
}

.fa-quote-right{
    font-size: 40px;
}

.serdetails div h3{
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-angle-down{
    position: absolute;
    font-size: 30px;
    transform: translate(0, 210px);
}

.tline{
    position: absolute;
    height: 120px;
    width: 3px;
    background: #1f1f1f;
    margin-top: 10px;
    transform: translate(10px, 100px);
}

.social-bottom, .logo_logo{
    display: none;
}

@media screen and (max-width:1200px){

    nav>ul li, .body-left{
        display: none;
    }

    .logo_logo{
        display: block;
        margin-left: 5%;
    }

    .logo_logo img{
        height: 30px;
    }

    .hambergermenu{
        display: block;
        margin-left: auto;
    }

    .bodybox{
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        gap: 30px;
    }
    .body2{
        margin-left: auto;
        margin-right: 10px;
    }

    .body3socila{
        flex-direction: row;
        gap: 50px;
    }

    .chekbox button{
        margin: auto;
        margin-top: 30px;
    }

    .servicelist{
        flex-direction: column;
        align-items: center;
    }

    .heroimg{
        display: block;
    }

    .heroimg img{
        height: 500px;      
    }
    .service_cont1{
        display: flex;
        gap: 50px;
        justify-content: center;
    }

    .social-top, .service-end{
        display: none;
    }

    .social-bottom{
        display: flex;
        gap: 30px;
   }
}

 @media screen and (max-width:950px) {
    
    .bodybox{
        margin-top: 0;
    }

    .body1 div {
        font-size: 80px;
        margin-top: 30px;
    }   
    
    .heroimg img{
        height: 370px;      
    }

    .serdetails div img {
        width: 400px;
        
    }

 } 


 @media screen and (max-width:650px){
    .body1 div {
        font-size: 50px;
        letter-spacing: 0;
        margin-left: 20px;
    }

    .body1 div:nth-of-type(2){
        margin-left: 80px;
        margin-top: 0;
    }

    .chekbox button{
        padding: 5px 10px;
        margin-top: 10px;
    }

    .body2{
        font-size: 15px;
    }
    .heroimg img{
        height: 250px;      
    }

    .serdetails div h3{
        font-size: 15px; 
    }

    .serdetails div img {
        width: 350px; 
    }
 }

 @media screen and (max-width:500px){
    .body-left img:nth-of-type(2){
        position: relative;
    }

    .body1 div:nth-of-type(2){
        margin-left: 20px;
        margin-top: 0;
        text-align: center;
    }

    .service_cont1{
        flex-direction: column;
        margin-bottom: 30px;
        align-items: center;
    }

    .body1 div {
        font-size: 50px;
        letter-spacing: 0;
    }

    .serdetails div img {
        width: 250px; 
    }

 }





