*{
    margin: 0;
    padding: 0;
    font-family: "Red Rose", Helvetica, sans-serif;
}

body{
    background-color: #2b2922;
}

.navbar{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    margin: 10px 8% 2vh 8%;
    align-items: center;
}


.navbar div img{
    height: 40px;
}

.navleft{
    display: flex;
    justify-content: flex-end; 
    gap: 35px;
    align-items: center;
}

.list{
    display: flex;
    gap: 35px;
    color: #fff;
    font-size: 1rem;
    list-style-type: none;
    font-size: 15px;

}


.list-item:hover{
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;
}

.button-small{
    padding: 12px 35px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid rgb(211, 191, 80);
    font-size: 15px;
    background: transparent;
    color: rgb(211, 191, 80);
}

.button-small:hover{
    cursor: pointer;
    opacity: 80%;
    box-shadow: 3px 3px 3px wheat;
    transition: 0.3s;
}



.hero{
    display: flex;
    align-items: center;
    color: rgb(248, 244, 244);  
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
    margin-left: 8%;
    margin-right: 8%;   
}

.hero-left{
    flex: 50%;
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 900;  
    font-size: 60px; 
}

.right{
    flex: 50%;
    font-size:15px;
    font-weight: 100; 
}


.img{
    height: 350px;
    width: 100%;
    
}

.imgjust{
    margin-left: 0%;
}

