@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

body ul{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    
}

body ul li{
    display:inline-block;
    background-color: #474747;
    padding: 0px 50px 0px 50px;
}

body ul li:hover {
    background-color:bisque; 
    cursor: pointer;
    
}

body a{
    display: block;
  padding:0 10px; 
  color:#fff;
  font-size:20px;
  line-height: 60px;
  text-decoration:none;
}

body a:hover{
    background-color:bisque; 
}

body ul ul{
    display: none;
    position: absolute;  
    /* top: 60px;  */

}

body ul li:hover>ul{
    display: inherit;
}

body ul ul li{
    width:170px;
  float:none;
  display:list-item;
  position: relative;
}