*{
    margin: 0;
    padding: 0;
}

.body1{
    height: 100vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    
}

.time{
    height: 10vh;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

input{
   height: 5vh;
   width: 100vw;
   font-size: 20px;
   width: 80vw;
   margin-inline: auto;


}

.textinput{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.output{
    background: blanchedalmond;
    height: 40vh;
    width: 80vw;
    border: 2px solid #1f1f1f;
    border-radius: 8px;
    margin-inline: auto;
}