*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

 header{
    background: rgb(119, 116, 116);
    padding-top: 20px;
 }

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    align-items: center;
}


nav img{
    height: 40px;
}

.nav-buttonsgroup{
    display: flex;
    list-style-type: none;
    gap: 25px;
    align-items: center;

}

.nav-buttons a {
    text-decoration: none;
    color:#fff;
    font-weight: 500;
}

.nav-buttons:hover{
    cursor: pointer;
    opacity: 80%;
    transition: 0.3s;
}

.nav-buttonsgroup button{
    border: 2px solid #fff;
    background: rgb(119, 116, 116);
    color: #fff;
    padding: 5px 30px;
    margin-left: 50px;
}

.nav-buttonsgroup button:hover{
    opacity: 80%;
    cursor: pointer;
    transition: 0.3s;
}

.head-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #fff;
    font-weight: 100;
}

.head-content img{
    height: 400px;
    margin-bottom: 80px;
}

.head-content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
}

.head-content-right h1{
    font-size: 40px;
    font-weight: 700;
}

.head-content-right h3{
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}

.headimput{
    display: flex;
    justify-content: flex-start;
    gap: 0;
    background-color: #fff;
    width: 378px;
}

.fa-envelope{
    
    display: flex;
    align-items: center;
    margin: 0 15px  0 15px;
}

.fa-envelope::before{
   color: #1f1f1f;
}

.headimput input{
    border: none;
    padding: 14px 0px;
    padding-right: 60px;
    width: 50%;
}

.headimput button{
    background: rgba(5, 119, 49, 0.603);
    padding: 10px ;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    border: 8px solid #fff;
    width: 40%;
}

.headimput button:hover{
    opacity: 80%;
    cursor: pointer;
    transition: 0.3s;
}

.cd01-headader{
    display: flex;
    justify-content: center;
}

.cd01-headader h1{
    width: 500px;
    text-align: center;
}

.cd01-vidlink{
    display: flex;
    justify-content: center;
}

.cd01-stat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 5%;
    text-align: center;
}

.cd01-stat h1{
    font-size: 25px;
}

.cd01-stat h3{
    font-weight: 200;
    font-size: 15px;
    margin-top: 15px;
}

.heading-02{
    display: flex;
    justify-content: space-around;
    margin: 100px 0px 40px 0;
    text-align: center;
}

.heading-02 h1{
    width: 350px;
    font-weight: 600;
}

.effdesign-03, .digitalmarketing-04, .people-05{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 60px 5%;
    gap: 80px;
}


.effdesign-03 div img, .digitalmarketing-04 div img, .people-05 div img{
    height: 350px;
}

.effdesign-03 div h1, .digitalmarketing-04 div h1, .people-05 div h1{
    margin: 40px 0px;
    font-weight: 600;
    font-size: 25px;
}

.effdesign-03 div h3, .digitalmarketing-04 div h3, .people-05 div h3 {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 30px;
}

.ed-03-left button, .dm-04-right button, .people-05-left button {
    background: rgb(5, 119, 49);
    color: #fff;
    padding: 5px 30px;
    border: none;
    font-weight: 600;
}

.ed-03-left button:hover, .dm-04-right button:hover, .people-05-left button:hover{
    opacity: 80%;
    cursor: pointer;
    transition: 0.3s;
}


.teamhead-06{
    display: flex;
    margin: 30px 5%;
    justify-content: space-between;
    
}

.teamhead-06 h3{
    font-weight: 400;
    font-size: 18px;
    width: 800px;
}

.team-07{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin: 50px 5%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.team-07-01, .team-07-02, .team-07-03{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.team-07 div img{
    height: 500px;
}

.team-07 h4{
    font-weight: 500;
}

.btn-08{
    display: flex;
    justify-content: center;  
}

.btn-08 button{
    background: rgb(5, 119, 49);
    color: #fff;
    padding: 15px 40px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}

.btn-08 button:hover{
    opacity: 80%;
    cursor: pointer;
    transition: 0.3s;
}

footer{
    background: #0f171c;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.foothead{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 5% 30px 5%;
}

.social{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.social a{
    background: rgb(34, 33, 33);
    padding: 10px;
    border-radius: 50%;
}

.fa-brands{
    color: #fff;
}

.foottag{
    display: flex;
    flex-wrap: wrap;
    margin: 0 5% 5% 5%;
    justify-content: space-between;
}

.foottag div{
    list-style-type: none;
    color: #fff;
}

.foottag div li{
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
}


.fheadline{
    font-size: 15px !important;
    font-weight: 600;
}





