@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;300;400;500;600;800&family=Oswald:wght@200;700&family=Roboto:wght@100;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

body{
    background: #fff;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 8%;
    margin-bottom: 80px;

}

nav img{
    height: 30px;
}

nav ul{
    display: flex;
    text-decoration: none;
    gap: 30px;
    font-size: 18px;
    color: rgb(153, 156, 156);
    align-items: baseline;
}

nav ul li{
    list-style-type: none;
}

nav ul li:hover{
    cursor: pointer;
    color: #1f1f1f;
    transition: 0.3s;
}


nav ul li button{
    padding: 10px 20px;
    border-radius: 8px;
    color: rgb(8, 158, 245);
    font-weight: 600;
    border: 2px solid rgb(8, 158, 245);
    background: #fff;
}

nav ul li button:hover{
    box-shadow: 5px 5px 5px rgb(196, 194, 194);
    cursor: pointer;
    opacity: 80%;
    transition: 0.3s;
}

.cp-1, .prov-quality-02, .tecsupport-03{
    display: flex;
    margin: 20px 8%;
    margin-top: 80px;
    margin-bottom: 100px;
    font-weight: 500;
}

.cp-left, .pq02-right, .ts03left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.cp-left h1, .pq02-right h1 .ts03left h1 {
    font-size: 40px;
    font-weight: 700;
}

.cp-left h3, .pq02-right h3, .ts03left h3{
    font-size: 15px;
    color: rgb(148, 146, 146);
    font-weight: 500;
}

.cp-left button, .pq02-right button, .ts03left button{
    border: none;
    background:linear-gradient(10deg,rgb(9, 101, 155),rgb(143, 206, 243)) ;
    color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
}

.cp-left button:hover,.pq02-right button:hover, .ts03left button:hover {
    box-shadow: 5px 5px 5px rgb(196, 194, 194);
    cursor: pointer;
    opacity: 80%;
    transition: 0.3s;
}


.cp-right img, .pq02-left img, .ts03right img{
    width: 500px;
    margin-left: 200px;
    margin-left: 0;
}

.service-04-details{
    display: flex;
    align-items: center;
    margin: 20px 8%;
    margin-top: 80px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.service-04-details h1{
    width: 40vw;
    font-size: 50px;
    font-weight: 600;
    margin-right: 20px;
}

.service-04-details h3{
    font-size: 15px;
    color: rgb(148, 146, 146);
    width: 40vw;
    padding-left: 20px;
    font-weight: 400;
}

.service-04-list{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 8%;
}

.service-04-list>*{
    font-display: flex;
}

.service-04-list div img{
    height: 60px;
}

.service-04-list div h2{
    font-size: 30px;
    margin: 15px 0px;
    font-weight: 600;
}

.service-04-list div h3{
    font-size: 15px;
    color: rgb(148, 146, 146);
    font-weight: 400;
}

.pricing-05{
    display: flex;

    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 30px;

    background:linear-gradient(10deg,rgb(5, 120, 187),rgb(27, 178, 238)) ;
    gap: 30px;
}

.pricing-05 >h1 {
    text-align: center;
    margin-top: 60px;  
    margin-bottom: 30px;
    color: #fff;
    font-size: 40px;   
    font-weight: 600; 
    font-weight: 300;
}


.price05-package{
    flex-wrap: wrap;
    margin: 0 8%;
    justify-content: space-between;
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    list-style-type: none;
}

.start05-01, .busipkg-03, .package05-02 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    border-radius: 10px;
}

.start05-01>*, .busipkg-03>*, .package05-02>*{
    margin: 30px 30px;
}

.header-05 h1{
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 500;

}

.header-05 h3{
    font-size: 15px;
    color: rgb(148, 146, 146);
}

.price05-features{
    margin-top: 0;
    margin-bottom: 0;
}

.price05-features li{
    display: flex;
    align-items: center;
}

.price05-features img{
    height: 20px;
    margin-right: 10px;
}

.price05-features li h2{
    text-decoration: none;
    list-style-type: none;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0;
}

.price-05{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    align-self: center;
}

.price-05 h1{
    font-size: 20px;
    
}

.price-05>h1>span{
    color: rgb(148, 146, 146);
}

.price-05>h3{
    color: rgb(148, 146, 146);
    font-size: 12px;
}

.price-05>button{
    padding: 10px 20px;
    border-radius: 8px;
    color: rgb(8, 158, 245);
    background: #fff;
    font-weight: 600;
    border: 2px solid rgb(8, 158, 245);
}

.price-05>button:hover {
    border: none;
    background:rgb(5, 120, 187);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer; 
    transition: 0.3s;
}

.package05-02> .header-05{
    background: #1f1f1f;
    margin: 0;
    color: #fff;
    border-radius: 10px;
}

.package05-02> .header-05>h1{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;

} 

.package05-02> .header-05>h3{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.price05feact{
    margin-top: 15px;
}

.package05-02>.price-05>button{
    padding: 10px 20px;
    border-radius: 8px;
    background: rgb(8, 158, 245);
    color: #fff;
    font-weight: 600;
    border: 2px solid rgb(8, 158, 245);
}

.package05-02>.price-05>button:hover {
    border: 2px solid rgb(8, 158, 245);
    background:#fff;
    color: rgb(8, 158, 245);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer; 
    transition: 0.3s;
}


.our-cust-06{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.our-cust-06 h1{
    font-size: 40px;
    font-weight: 600;
}

.our-cust-06 h3{
    color: rgb(148, 146, 146);
    font-size: 12px;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.feedback-07{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px; 
}

.feedback-07> div{
    box-shadow: 5px 5px 5px #aca6a6;
    justify-content: left;
    border: 10px 10px;
}

.feedback-07> div>*{
    margin: 20px 20px 20px 20px ;
}

.feedback-07>div>h1{
    font-size: 12px;
    color: #1f1f1f;
    font-weight: 400;
}



.profile-07{
    display: flex;
    margin: 12px;
}

.profile-07 div img{
    height: 40px;
    border-radius: 50%;
}

.feedback-07-01 div h2, .feedback-07-2 div h2, .feedback-07-03 div h2, .feedback-07-04 div h2{
    font-size: 20px;
    margin: 10px 10px;
    font-weight: 600;
}

.feedback-07-01 div h3, .feedback-07-2 div h3, .feedback-07-03 div h3,  .feedback-07-04 div h3  {
    font-size: 10px;
    margin: 10px 15px;
    font-weight: 500;
}

.register-08{
    display: flex;
    align-items: center;
    background: rgb(5, 120, 187);
    justify-content: space-between;
    margin: 50px 0;
}

.register-08>*{
    margin: 80px 8% 80px 8%;
}
.body-08-left {
    width: 400px;
    justify-self: center;
    color: #fff;

}


.body-08-left h1{
    margin-bottom: 30px;
    font-weight: 600;
}

.body-08-left h3{
    font-weight: 400;
    font-size: 15px;
}

.register-08 div button{
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    background: transparent;    
}

.register-08 div button:hover{
    cursor: pointer;
    opacity: 80%;
    background: #fff;
    color:rgb(5, 120, 187);
    transition: 0.3s;
}

.footer-09{
    display: flex;
    margin: 80px 8% 80px 8%;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo-09{
    width: 200px;
}

.logo-09 img{
    height: 30px;
}

.logo-09 h4{
    color: #aca6a6;
    font-size: 10px;
    margin-top: 15px;
    font-weight: 600;
}

.footer09-heading>h1{
    font-size: 20px;
    font-weight: 600;
}

.footer09-heading{
    gap: 30px;
}

.footer09-menu, .footer09-links, .footer09-overview, 
.footer09-social { 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;    
}



.footer09-menu li a, .footer09-links li a, .footer09-overview li a, .footer09-social li a { 
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    color: #1f1f1f;
}

.socialicon{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.blue {
    padding: 5px 5px;
    background: rgb(5, 120, 187);
    border-radius: 50%;
    cursor: pointer;
}

.blue h3{
    color: #fff;
    font-weight: 400;
    font-size: 10px;

}











